body{
    text-align: center;
}
header{
    font-size: 30px;
    border: solid black 2px;
    float: right;
    clear: right;
    width: 37%;
}

.intro{
    font-size: 15pt;
    font-size: 15pt;
    border: solid black 2px;
    height: 150px;
    width: 62.5%;
}
.intro p{
    color: black;
    padding: 40px
}

.web-status{
    font-size: 15pt;
     border: solid black 2px;
     padding: 45px;
}
.contact-form{
    width:35%;
    color:black;
    padding:20px;
    margin:10px 0px 0px 10%;
    float: left;
    clear:right; 
    line-height: 40px;  
}
.contact-form h2{
    margin: 0px;
    border: solid black 2px;  
}
.contact-form label{
    float:right;
    clear:left;
}
.contact-form input{ 
   float: center;
}
/* #name{
    padding: 11px 25px 12px 123px;
    margin: -123px;
    border: none;
} */
#mobile,#email,#name{
    padding: 14px 116px 11px 41px;
    margin: 0px -94px 0px -95px;
    border: none;
    text-align: center; 
}
.our-contact{
    width:35%;
    color: black;
    padding:20px;
    margin:10px 10% 0px 0;
    float: right; 
    line-height: 40px;     
}
.our-contact h2{
    margin: 0px;
    border: solid black 2px;
 }
 .urdu{
     float: right;
     clear: right;
 }
 table, td, th {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
  } 
  table {
    width: 100%;
    border-collapse: collapse;
  }
