body{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
}

.intro{
    text-align: right;
}

/* for Desktop Screen */
@media screen and (min-width: 1024px) {
    header{
        grid-column: 8/-1;
        grid-row: 1;
        font-size: 20px;
        border: solid black 2px;
    }
    
    .intro{
        grid-column: 1/8;
        grid-row: 1;
        font-size: 20px;
        border: solid black 2px;
    }
    
    
    .web-status{
        grid-column: 1/-1;
        grid-row: 2;
        font-size: 40px;
        border: solid black 2px;
    }
    
    .contact{
        grid-column: 1/-1;
        grid-row: 3;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-form{
        grid-column: 1;
        grid-row: 1;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .our-contact{
        grid-column: 2;
        grid-row: 1;
        border: solid black 2px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    
    .contact-form-heading, .our-contact-heading{
        grid-column: 1/-1;
        grid-row: 1;
    }

    .contact-form > button{
        grid-column: 1/-1;
        margin: 20px 180px;
    }
}

/* for Tab (Landscape) */
@media screen and (max-width: 1024px) {
    header{
        grid-column: 8/-1;
        grid-row: 1;
        font-size: 15px;
        border: solid black 2px;
    }
    
    .intro{
        grid-column: 1/8;
        grid-row: 1;
        font-size: 15px;
        border: solid black 2px;
    }
    
    
    .web-status{
        grid-column: 1/-1;
        grid-row: 2;
        font-size: 30px;
        border: solid black 2px;
    }
    
    .contact{
        grid-column: 1/-1;
        grid-row: 3;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-form{
        grid-column: 1;
        grid-row: 1;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .our-contact{
        grid-column: 2;
        grid-row: 1;
        border: solid black 2px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    
    .contact-form-heading, .our-contact-heading{
        grid-column: 1/-1;
        grid-row: 1;
    }

    .contact-form > button{
        grid-column: 1/-1;
        margin: 20px 100px;
    }
}

/* for Tab (Portrait) */
@media screen and (max-width: 768px) {
    header{
        grid-column: 1/-1;
        grid-row: 1;
        font-size: 15px;
        border: solid black 2px;
    }
    
    .intro{
        grid-column: 1/-1;
        grid-row: 2;
        font-size: 15px;
        border: solid black 2px;
    }
    
    
    .web-status{
        grid-column: 1/-1;
        grid-row: 3;
        font-size: 30px;
        border: solid black 2px;
    }
    
    .contact{
        grid-column: 1/-1;
        grid-row: 4;
        border: solid black 2px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contact-form{
        grid-column: 1/-1;
        grid-row: 1;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .our-contact{
        grid-column: 1/-1;
        grid-row: 2;
        border: solid black 2px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    
    .contact-form-heading, .our-contact-heading{
        grid-column: 1/-1;
        grid-row: 1;
    }

    .contact-form > button{
        grid-column: 1/-1;
        margin: 20px 120px;
    }
}

/* for Mobile */
@media screen and (max-width: 360px) {
    header{
        grid-column: 1/-1;
        grid-row: 1;
        font-size: 12px;
        border: solid black 2px;
    }
    
    .intro{
        grid-column: 1/-1;
        grid-row: 2;
        font-size: 12px;
        border: solid black 2px;
    }
    
    
    .web-status{
        grid-column: 1/-1;
        grid-row: 3;
        font-size: 10px;
        border: solid black 2px;
    }
    
    .contact{
        grid-column: 1/-1;
        grid-row: 4;
        border: solid black 2px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contact-form{
        grid-column: 1/-1;
        grid-row: 1;
        border: solid black 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .our-contact{
        grid-column: 1/-1;
        grid-row: 2;
        border: solid black 2px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    
    .contact-form-heading, .our-contact-heading{
        grid-column: 1/-1;
        grid-row: 1;
    }

    .contact-form > button{
        grid-column: 1/-1;
        margin: 20px 70px;
    }
}